<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
	<%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Roboto:100,300,500,700", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
